[Unit]
Description=Runs bitcoind.

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/{{ usr_name }}/bitcoin/src/bitcoind
User={{ usr_name }}
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
