defaults
  # frontend
  timeout client 10s
  timeout client-fin 10s
  # backend
  timeout connect 5s
  timeout server 10s
  timeout tunnel 1h
  # both
  mode http
  timeout http-request 10s

listen service1ssh
  # frontend
  bind *:24926
  # backend
  server sshserver1 192.168.129.71:22
  # both
  mode tcp

frontend myfrontend
  bind 0.0.0.0:80
  default_backend myservers

backend myservers
  server server1 192.168.129.71:31301
  server server2 192.168.129.72:31302
