[Unit]
Description=Dotnet App ({{ service_name }})

[Service]
WorkingDirectory=/app
User={{ usr_name }}
ExecStart=/usr/bin/dotnet /app/{{ dotnet_dll }}
Restart=always
RestartSec=5

# to query logs using journalctl
SyslogIdentifier={{ service_name }}

# copied from dotnet documentation at
# https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx
KillSignal=SIGINT
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

# listen ONLY on this port (overrides config in project source)
Environment=Kestrel__Endpoints__Http__Url=http://*:5000

[Install]
WantedBy=multi-user.target
