# get stuff from ansible to powershell parameters
$VMName = "{{ inventory_hostname }}"
$SwitchName = "{{ srv_det['switch_name'] }}"
$VHDSize = {{ vhd_size }}
$VHDPath = "{{ srv_det['vhd_dir_windows'] }}{{ vhdx_file }}"
$ISOPath = "{{ srv_det['vhd_dir_windows'] }}{{ seed_file }}"
$VCPUs = "{{ vcpus }}"

# consolidate powershell parameters
$VM = @{
     Name = "$VMName"
     Generation = 2
     SwitchName = $SwitchName
     VHDPath = "$VHDPath"
}

# adjust size of virtual hard drive
# the ubuntu cloud image will automagically increase file system size to match this
Resize-VHD -Path "$VHDPath" -SizeBytes $VHDSize

# create VM
New-VM @VM

# additional configuration for the new VM
# this works for ubuntu - may need to do something different for other distros
Set-VMFirmware "$VMName" -EnableSecureBoot On -SecureBootTemplate "MicrosoftUEFICertificateAuthority"
Add-VMDvdDrive "$VMName" -Path "$ISOPath"
Set-VMProcessor "$VMName" -Count $VCPUs
Set-Vm "$VMName" -AutomaticCheckpointsEnabled $false
# not doing for now, but if I still face issues deleting VMs, may try
#Set-Vm "$VMName" -CheckpointType Disabled

# start the VM
Start-VM $VMName
