# get stuff from ansible to powershell parameters
$VMName = "{{ vm['name'] }}"
$SwitchName = "{{ switch_name }}"
$VHDSize = {{ vm['vhd_size'] }}
$VHDPath = "{{ vhd_dir_windows }}{{ vhdx_file }}"
$ISOPath = "{{ vhd_dir_windows }}{{ seed_file }}"
$VCPUs = "{{ vm['vcpus'] }}"

# consolidate powershell parameters
$VM = @{
     Name = "$VMName"
     Generation = 2
     SwitchName = $SwitchName
     VHDPath = "$VHDPath"
}

# adjust size of virtual hard drive
# the ubuntu cloud image will automagically increase file system size to match this
Resize-VHD -Path "$VHDPath" -SizeBytes $VHDSize

# create VM
New-VM @VM

# additional configuration for the new VM
Set-VMFirmware "$VMName" -EnableSecureBoot Off
Add-VMDvdDrive "$VMName" -Path "$ISOPath"
Set-VMProcessor "$VMName" -Count $VCPUs

# start the VM
Start-VM $VMName
