instance-id: iid-{{ vm['id'] }}
network-interfaces: |
  iface eth0 inet static
  address {{ address_base }}{{ vm['id'] }}
  network {{ network }}
  netmask {{ netmask }}
  broadcast {{ broadcast }}
  gateway {{ gateway }}
