instance-id: iid-{{ 'id' }}
network-interfaces: |
  iface {{ iface_name }} inet static
  address {{ ansible_host }}
  network {{ network }}
  netmask {{ netmask }}
  broadcast {{ broadcast }}
  gateway {{ gateway }}
